:root {
  --white: #fff;
  --gray: #747d83;
  --header-blue: #7cd5dbec;
}

body {
  line-height: 1.3;
  background: linear-gradient(217deg, rgba(177, 2, 2, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(123, 184, 192, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

figcaption {
  font-size: 50px;
}

figcaption:hover {
  text-shadow: 0 0 5px var(--white), 0 0 15px #0073e6, 0 0 30px #0073e6;
}

h1 {
  font-size: 200%;
  margin-left: 1%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

h2:hover {
  text-shadow: 0 0 5px var(--white), 0 0 15px #0073e6, 0 0 30px #0073e6;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
}

nav a:hover {
  color: var(--white);
}

.card-header {
  position: absolute;
  font-size: 14px;
}

.card-body p {
  margin-left: 5%;
}

.item-1 img,
.item-2 img,
.item-3 img,
.item-4 img,
.item-5 img,
.item-6 img {
  border: var(--header-blue) 8px solid;
}

.item-1 header,
.item-2 header,
.item-3 header,
.item-4 header,
.item-5 header,
.item-6 header {
  font-size: 14px;
  color: var(--white);
  background-color: var(--header-blue);
  padding: 5px;
}

a {
  text-decoration: none;
  color: var(--white);
}

.profile-image {
  width: 100px;
  height: 100px;
}

.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    margin-top: 20px;
}

